Docs/Ajuste1.png
Docs/Ajuste2.png
Docs/DocProyectoIni.pdf

# Concepto inicial visual
concept.py

# Ignorar archivos de respaldo y caché
**/*.drawio.bkp
**/*.drawio.dtmp
**/__pycache__/
**/*drawio.bkp*

# Others
.venv/
BackEnd/GAS/secrets.js
BackEnd/GAS/appsscript.json
BackEnd/GAS/.clasp.json

# Sensibles
FrontEnd/.env